<main>
  <h1 class="header">Collection View</h1>
  <br />
  <div class="titlepage">
    <p class="sectionTitle">Best Sellers</p>
    <p class="subTitle">
      Shop All Best Sellers <span class="fa fa-arrow-right"></span>
    </p>
  </div>
  <div class="container">
    <div class="cards">
      <div class="card">
        <img src="assets/img/earphones.jpg" alt="glasses" style="width: 100%" />
        <div class="container">
          <p class="itemName"><b>OUT VIBES T-SHIRT SUNSHINE</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/glasses.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>HIKE BOTTLE OUTSIDE VIBES FOREST GREEN</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$104.95</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/shoes.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>REST IN NATURE T-SHIRT CHARCOAL</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$104.95</p>
        </div>
      </div>

      <div class="card">
        <img src="assets/img/banana.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>OUTSIDE VIBES CAP FOREST GREEN</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/car.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>REST IN NATURE T-SHIRT CHARCOAL</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/drink.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>COCA COLA SOFTDRINKS</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/iwatch.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>APPLE WATCH SERIES 8</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/ps4.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>PLAY STATION 4</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/speaker.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>AMAZON SPEAKER</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
      <br />
      <div class="card">
        <img src="assets/img/chair.jpg" alt="glasses" />
        <div class="container">
          <p class="itemName"><b>REST IN NATURE MACBOOK</b></p>
          <p class="itemReviews">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            1,234 Reviews
          </p>
          <p class="itemPrice">$100.0</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="showMore">
    <button type="button" class="showMoreBtn" id="showMoreBtn">Show More</button>
  </div>
</main>


<script>
  const productElements = document.querySelectorAll('.card');

  for (let i = 4; i < productElements.length; i++) {
    productElements[i].style.display = 'none';
  }

  function showMoreProduct() {
    const firstHiddenProductIndex = 4;
    for (let i = firstHiddenProductIndex; i < firstHiddenProductIndex + 4; i++){
      productElements[i].style.display = 'block';
    console.log("Product");
    }
  }

  document.querySelector('#showMoreBtn').addEventListener('click', showMoreProduct);
</script>